<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset description="COM_PHPMYJOOMLA_CONFIGURATION" label="COM_PHPMYJOOMLA" name="phpmyjoomla">
		<field name="ed_inline_editing" type="radio" default="0" label="COM_PHPMYJOOMLA_CONFIGURATION_ED_EDITOR" description="" class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="configuration_accordion" type="radio" default="0" label="COM_PHPMYJOOMLA_CONFIGURATION_ACCORDION" description="" class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset
			name="permissions"
			description="JCONFIG_PERMISSIONS_DESC"
			label="JCONFIG_PERMISSIONS_LABEL">
		<field
				name="rules" type="rules" component="com_phpmyjoomla"
				class="inputbox" filter="rules" validate="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				section="component" />
	</fieldset>
</config>
